CREATE TABLE IF NOT EXISTS reports (
  id SERIAL PRIMARY KEY,
  document_id TEXT NOT NULL REFERENCES documents(id),
  user_id TEXT NOT NULL REFERENCES users(username),
  reason TEXT NOT NULL,
  custom_review TEXT DEFAULT '',
  created_at TIMESTAMPTZ DEFAULT NOW()
);
